.pending-projects-grid {
    margin: 10px 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colonnes */
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 15rem;
  }
  
  .grid-item img {
    max-width: 30rem;
    height: 10rem;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-messages {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .error {
    margin: 0;
    font-weight: bold;
  }
  
  input , select, button {
    padding: 10px;
    border-radius: 7px;
  }